// vim: ft=css

* {
    spacing: 5;
    background: rgb(30, 30, 30);
    foreground: rgb(220, 220, 220);
    background-color: @background;
    text-color: @foreground;
}

#window {
    font: "Hack 10";
    background-color: @background;
    padding: 20;
}

element {
	padding: 1;
}

element-text {
	background-color: inherit;
	text-color: inherit;
}

element.selected.normal {
    background-color: @foreground;
	text-color: @background;
}
